body {
	background-color: #f9f8f7;
}
a.on {
	color: #2a6496;
}
.container {
	max-width: 1000px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 10px;
	border: 1px solid #e1e8ed;
	border-radius: 6px;
	background-color: #FFF;
}
.logo {
	padding-bottom: 20px;
}
.side-nav ul {
	padding-left: 0;
	list-style: none;
	line-height: 35px;
}