a.on {
	color: #2a6496;
}
.container {
	max-width: 1000px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 20px 10px;
	background-color: #FFF;
}
.logo {
	padding-bottom: 20px;
}
.side-nav ul {
	padding-left: 0;
	list-style: none;
	line-height: 30px;
}